<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleExecutable</key><string>Arreter</string>
<key>CFBundleIdentifier</key><string>fr.bastiendallago.veovideocontrol.stop</string>
<key>CFBundleName</key><string>Arrêter VeoVideoControl</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>LSUIElement</key><true/>
</dict></plist>
